@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: yellow;
    font-family: 'Nosifer', cursive;
}